<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.pojo.entity.User">
        <id column="uid" property="uid" />
        <result column="user_account" property="userAccount" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="role" property="role" />
        <result column="department" property="department" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, user_account, user_name, user_password, age, sex, phone, `role` , department , is_deleted
    </sql>

</mapper>
